:root {
  --white: #FFFFFF;
  --grey: #D3D3D3;
  --dark-grey: #5b5b5b;
  --title-size: 23px;
  --btn-input-height: 30px;
}
body {
    background: var(--grey);
    font-family:Roboto;
  }
  .clear {
    clear:both;
  }
  .card {
    width:600px;
    height: 550px;
    background: var(--white);
    margin:2em auto;
    border-radius: .2em;
    padding: 34px 20px 20px 30px;
  }
  .city {
    font-weight: 300;
    font-size: 1.8em;
    margin-left: 30px;
    color:var(--dark-grey);
  }
  .stickyNoteSearchForm {
    align-content: center;
    margin-top: 10px;
    position: absolute;
    color: var(--white);
    font-size: var(--title-size);
  }
  .input-search{
    width: 270px;
    height: var(--btn-input-height);
  }
  .btn{
    height: var(--btn-input-height);
  }
  
  .temp {
    float:right;
    font-weight: 300;
    font-size: 8.5em;
    margin-top:-.75em;
    margin-right: 30px;
    color:var(--dark-grey);
  }
  .variations {    
   
    color:var(--dark-grey);
    list-style:none;
    margin-left:-1em;
  }
  .kph {
     font-size:.8em;
  }
  .speed:before {
    content:url('https://i.imgur.com/luN0Jmq.png');
  }
  .forecast {
    width:100%;
    margin:20px 0 0 -20px;
  }
  .time {
    display:block;
    width: 21.5%;
    height:9em;
    float:left;
    margin: 0 .375em .5em;
    text-align:center;
    color: var(--dark-grey);
    border-right:.1em solid var(--grey);
    line-height: 2;
  }
  ._21h {
    border-right:none;
  }
  
  .Snow {
    content: url('images/snow.png');
  }
  .Sunny{
    content: url('images/sunny.png');
  }
  .Clear{
    content: url('images/sunny.png');
  }
  .Overcast {
    content: url('images/overcast.png');
  }
  .Mist {
    content: url('images/mist.png');
  }
  .Cloudy {
    content: url('images/cloudy.png');
  }
  .Partly {
    content: url('images/partlyCloudy.png');
  }
  .Light {
    content: url('images/lightRain.png');
  }
  .Patchy {
    content: url('images/lightRain.png');
  }
  .Heavy {
    content: url('images/HeavyRain.png');
  }


